body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
/* Mobile  */
@media(max-width: 600px) {
    .main-header {
        position: relative;
        width: 100%;
        background-color: #1abc9c;
        float: left;
    }
    .main-header button {
        padding: 5px 10px;
        position: absolute;
        float: left;
        top: 15%;
        left: 20px;
        border: 1px solid white;
        background-color: transparent;
        color: white;
        font-size: 20px;
        border-radius: 4px;
    }
    .main-header button:hover {
        cursor: pointer;
        background-color: white;
        color: black;
    }
    .user-menu ul {
        list-style: none;
        text-decoration: none;
        float: right;
    }
    .user-menu ul li {
        margin: 0 5px;
        display: inline;
    }
    .user-menu ul li a {
        text-decoration: none;
        color: white;
    }
    .register-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #21a1aa;
        transform: translateY(-1000px);
        z-index: 1;
        transition: .5s;
    }
    .display-register-wrapper {
        transform: translateY(0);
        transition: .5s;
    }
    .register-wrapper button {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 20px;
        margin-top: 20px;
        margin-left: 20px;
    }
    .register-wrapper button:hover {
        cursor: pointer;
        color: #1abc9c;
    }
    .container-input {
        width: 250px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid white;
        border-radius: 5px;
        padding: 20px;
    }
    .container-input i {
        text-align: center;
        width: 100%;
        color: white;
        font-size: 20px;
    }
    .container-input form {
        column-count: 1;
    }

    .container-input form label {
        color: white;
    }
    .container-input form input {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 15px;
        border: 1px solid white;
        color: white;
        border-radius: 4px;
        padding: 5px;
        background-color: transparent;
    }
    .container-input form input:focus {
        outline: none;
        color: white;
    }
    .container-input form input[type="checkbox"] {
        width: fit-content;
    }

    .container-input form input::placeholder {
        color: white;
    }
    .container-input form input[type="submit"] {
        color: white;
    }
    .sidebar {
        position: absolute;
        width: 200px;
        height: 100vh;
        background-color: white;
        transform: translate(-200px);
        box-shadow: 2px 2px 5px grey;
        transition: .5s;
    }
    .sidebar .nav-items ul {
        list-style: none;
        padding: 0;
    }
    .sidebar .nav-items li {
        list-style: none;
        font-size: 20px;
        background-color: #1abc9c;
        margin-bottom: 10px;
        padding: 5px;
    }
    .sidebar .nav-items a {
        text-decoration: none;
        color: white;
        margin-left: 15px;
    }

    .display-sidebar {
        transform: translate(0px);
        transition: .5s;
    }
    .sidebar .button-container {
        background-color: #009688;
        padding: 15px;
    }
    .sidebar .button-container button {
        padding: 5px 10px;
        border: 1px solid white;
        background-color: transparent;
        color: white;
        font-size: 15px;
        border-radius: 4px;
    }
    .sidebar .button-container button:hover {
        cursor: pointer;
        background-color: white;
        color: black;
    }
}