body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
}
@import "./Header/_header-mobile";
@import "./Header/_header-desktop";
@import "./main-section/_main-section-mobile";
@import "./main-section/_main-section-desktop";
@import "./Cart/_cart-mobile";
@import "./Cart/_cart-desktop";