body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Mobile  */
@media (max-width: 600px) {
  .main-header {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #2c2b2b;
  }
  .main-header__menu-button {
    padding: 5px 10px;
    position: absolute;
    float: left;
    top: 15%;
    left: 20px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border-radius: 4px;
  }
  .main-header__menu-button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
  }
  .main-header p {
    display: none;
  }
  .main-header__user-menu {
    float: right;
  }
  .main-header__user-menu ul {
    list-style: none;
    text-decoration: none;
  }
  .main-header__user-menu ul li {
    margin: 0 5px;
    display: inline;
  }
  .main-header__user-menu ul li a {
    text-decoration: none;
    color: white;
  }
  .main-navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    -webkit-box-shadow: 2px 2px 5px grey;
            box-shadow: 2px 2px 5px grey;
    z-index: 5;
  }
  .main-navigation .button-container {
    background-color: #2c2b2b;
    padding: 10px;
  }
  .main-navigation .button-container .menu-button-navigation {
    color: white;
    font-size: 25px;
    border: none;
    background-color: transparent;
    margin-left: 10px;
  }
  .main-navigation .button-container .menu-button-navigation:hover {
    cursor: pointer;
    color: #1abc9c;
  }
  .main-navigation .nav-items ul {
    list-style: none;
    padding: 0;
  }
  .main-navigation .nav-items ul li {
    list-style: none;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 5px;
    text-transform: uppercase;
  }
  .main-navigation .nav-items ul li .nav-link {
    text-decoration: none;
    color: black;
    margin-left: 15px;
  }
  .login-form {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.26);
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
  }
  .login-form__container-form {
    margin-top: 150px;
    background-color: #2c2b2b;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
  }
  .login-form__container-form .login-close-button {
    background-color: transparent;
    border: none;
  }
  .login-form__container-form .login-close-button i {
    font-size: 20px;
    color: white;
  }
  .login-form__container-form .login-close-button i:hover {
    cursor: pointer;
    color: #1abc9c;
  }
  .login-form__container-form form {
    margin-top: 20px;
  }
  .login-form__container-form form label {
    color: white;
  }
  .login-form__container-form form input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid white;
    color: white;
    border-radius: 4px;
    padding: 5px;
    background-color: transparent;
  }
  .login-form__container-form form input:focus {
    outline: none;
    color: white;
  }
  .login-form__container-form form input::-webkit-input-placeholder {
    color: white;
  }
  .login-form__container-form form input:-ms-input-placeholder {
    color: white;
  }
  .login-form__container-form form input::-ms-input-placeholder {
    color: white;
  }
  .login-form__container-form form input::placeholder {
    color: white;
  }
  .login-form__container-form form input[type="checkbox"] {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .login-form__container-form form input[type="submit"] {
    color: white;
  }
  .login-form__container-form form span {
    color: white;
  }
  .login-form__container-form form .form_register-btn {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 15px;
    text-decoration: underline;
  }
  .login-form__container-form form .form_register-btn:hover {
    cursor: pointer;
  }
  .register-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.26);
    z-index: 5;
    top: 0;
  }
  .register-wrapper__close-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 50px;
  }
  .register-wrapper__close-button:hover {
    cursor: pointer;
    color: #1abc9c;
  }
  .register-wrapper__container-form {
    background-color: #2c2b2b;
    width: 250px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
  }
  .register-wrapper__container-form i {
    text-align: center;
    width: 100%;
    color: white;
    font-size: 20px;
  }
  .register-wrapper__container-form form {
    -webkit-column-count: 1;
            column-count: 1;
  }
  .register-wrapper__container-form form label {
    color: white;
  }
  .register-wrapper__container-form form input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid white;
    color: white;
    border-radius: 4px;
    padding: 5px;
    background-color: transparent;
  }
  .register-wrapper__container-form form input:focus {
    outline: none;
    color: white;
  }
  .register-wrapper__container-form form input::-webkit-input-placeholder {
    color: white;
  }
  .register-wrapper__container-form form input:-ms-input-placeholder {
    color: white;
  }
  .register-wrapper__container-form form input::-ms-input-placeholder {
    color: white;
  }
  .register-wrapper__container-form form input::placeholder {
    color: white;
  }
  .register-wrapper__container-form form input[type="checkbox"] {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .register-wrapper__container-form form input[type="submit"] {
    color: white;
  }
}

@media (min-width: 600px) {
  .main-header {
    width: 100%;
    background-color: #2c2b2b;
    height: 50px;
  }
  .main-header__menu-button {
    border: none;
    background-color: transparent;
    color: white;
    margin-top: 15px;
    font-size: 20px;
    margin-left: 15px;
  }
  .main-header__menu-button i {
    display: none;
  }
  .main-header__menu-button:hover {
    cursor: pointer;
  }
  .main-header p {
    color: white;
    float: left;
    margin: 15px 0 0 15px;
    font-size: 20px;
  }
  .main-header p a {
    text-decoration: none;
    color: white;
  }
  .main-header p:hover {
    cursor: pointer;
  }
  .main-header span {
    color: #1abc9c;
  }
  .main-header__user-menu {
    float: right;
    margin-right: 15px;
  }
  .main-header__user-menu ul {
    list-style: none;
    text-decoration: none;
  }
  .main-header__user-menu ul li {
    margin: 0 5px;
    display: inline;
  }
  .main-header__user-menu ul li a {
    text-decoration: none;
    color: white;
  }
  .main-navigation {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 3;
  }
  .main-navigation .menu-button-navigation {
    display: none;
  }
  .main-navigation .nav-items {
    width: 100%;
  }
  .main-navigation .nav-items ul {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    height: 50px;
    background: #2c2b2b;
    border-end-start-radius: 25px;
    border-start-end-radius: 25px;
  }
  .main-navigation .nav-items ul li {
    margin: 10px 10px 0 10px;
    display: inline-block;
  }
  .main-navigation .nav-items ul li .nav-link {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 20px;
    cursor: pointer;
  }
  .main-navigation .category-menu {
    width: 100%;
  }
  .main-navigation .category-menu .category-menu-links {
    background-color: #2c2b2b;
    border-radius: 5px;
    padding: 20px 20px 20px 0;
    margin-left: auto;
    margin-right: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .main-navigation .category-menu .category-menu-links a {
    color: white;
    text-decoration: none;
  }
  .login-form {
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #2c2b2b;
    z-index: 11;
  }
  .login-form__container-form {
    width: 210px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    padding: 10px;
  }
  .login-form__container-form .login-close-button {
    background-color: transparent;
    border: none;
    color: white;
  }
  .login-form__container-form .login-close-button i {
    color: white;
    font-size: 20px;
  }
  .login-form__container-form .login-close-button i:hover {
    color: #1abc9c;
    cursor: pointer;
  }
  .login-form__container-form form {
    -webkit-column-count: 1;
            column-count: 1;
  }
  .login-form__container-form form label {
    color: white;
  }
  .login-form__container-form form input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid white;
    color: white;
    border-radius: 4px;
    padding: 5px;
    background-color: transparent;
  }
  .login-form__container-form form input:focus {
    outline: none;
    color: white;
  }
  .login-form__container-form form input::-webkit-input-placeholder {
    color: white;
  }
  .login-form__container-form form input:-ms-input-placeholder {
    color: white;
  }
  .login-form__container-form form input::-ms-input-placeholder {
    color: white;
  }
  .login-form__container-form form input::placeholder {
    color: white;
  }
  .login-form__container-form form input[type="checkbox"] {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .login-form__container-form form input[type="submit"] {
    color: white;
  }
  .login-form__container-form form span {
    color: white;
  }
  .login-form__container-form form .form_register-btn {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    text-decoration: underline;
  }
  .login-form__container-form form .form_register-btn:hover {
    cursor: pointer;
  }
  .register-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.26);
    z-index: 10;
  }
  .register-wrapper__close-button {
    margin-top: 50px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    margin-left: 20px;
  }
  .register-wrapper__close-button:hover {
    cursor: pointer;
    color: #1abc9c;
  }
  .register-wrapper__container-form {
    background-color: #2c2b2b;
    width: 250px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
  }
  .register-wrapper__container-form i {
    text-align: center;
    width: 100%;
    color: white;
    font-size: 20px;
  }
  .register-wrapper__container-form form {
    -webkit-column-count: 1;
            column-count: 1;
  }
  .register-wrapper__container-form form label {
    color: white;
  }
  .register-wrapper__container-form form input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid white;
    color: white;
    border-radius: 4px;
    padding: 5px;
    background-color: transparent;
  }
  .register-wrapper__container-form form input:focus {
    outline: none;
    color: white;
  }
  .register-wrapper__container-form form input::-webkit-input-placeholder {
    color: white;
  }
  .register-wrapper__container-form form input:-ms-input-placeholder {
    color: white;
  }
  .register-wrapper__container-form form input::-ms-input-placeholder {
    color: white;
  }
  .register-wrapper__container-form form input::placeholder {
    color: white;
  }
  .register-wrapper__container-form form input[type="checkbox"] {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .register-wrapper__container-form form input[type="submit"] {
    color: white;
  }
}

@media (min-width: 600px) {
  .active {
    background-color: #dee2e6;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
    height: 120vh;
  }
  .container h1 {
    text-align: center;
    padding-top: 50px;
  }
  .container .items-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container .items-details .general-details table, .container .items-details .general-details td, .container .items-details .general-details tr, .container .items-details .general-details th {
    padding: 10px;
  }
  .container .items-details .general-details table {
    min-width: 700px;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;
  }
  .container .items-details .general-details table thead tr:first-of-type {
    background-color: #2c2b2b;
    color: white;
    font-size: 18px;
    display: block;
  }
  .container .items-details .general-details table thead tr {
    margin: 20px 0;
    -webkit-box-shadow: 2px 0px 10px 2px #dee2e6;
            box-shadow: 2px 0px 10px 2px #dee2e6;
  }
  .container .items-details .general-details table thead .table-element-price {
    color: white;
  }
  .container .items-details .general-details table thead .table-element-price:hover {
    cursor: auto;
    color: white;
  }
  .container .items-details .general-details table tbody tr {
    display: block;
    margin: 20px 0;
    -webkit-box-shadow: 2px 0px 10px 2px #dee2e6;
            box-shadow: 2px 0px 10px 2px #dee2e6;
  }
  .container .items-details .general-details table tbody tr:hover {
    cursor: pointer;
  }
  .container .items-details .general-details table tr:hover {
    background-color: #dee2e6;
  }
  .container .items-details .general-details table .table-element-counter {
    width: 50px;
  }
  .container .items-details .general-details table .table-element-title {
    width: 150px;
  }
  .container .items-details .general-details table .table-element-title p {
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .container .items-details .general-details table .table-element-image-container {
    width: 200px;
  }
  .container .items-details .general-details table .table-element-image-container .table-element-image {
    width: 100px;
    height: 50px;
  }
  .container .items-details .general-details table .table-element-colors {
    width: 300px;
  }
  .container .items-details .general-details table .table-element-price {
    color: #0dcaf0;
  }
  .container .items-details .general-details table .table-element-price:hover {
    color: #0da8f0;
    cursor: pointer;
  }
  .container .items-details .general-details table img {
    width: 100px;
  }
  .container .items-details .general-details .pagination-status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 700px;
  }
  .container .items-details .general-details .pagination-status .pagination {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border: 1px solid #dee2e6;
    border-radius: 5px;
  }
  .container .items-details .general-details .pagination-status .pagination ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .container .items-details .general-details .pagination-status .pagination ul .btn_prev {
    border-right: 1px solid #dee2e6;
  }
  .container .items-details .general-details .pagination-status .pagination ul .btn_next {
    border-left: 1px solid #dee2e6;
  }
  .container .items-details .general-details .pagination-status .pagination ul li {
    display: inline-block;
    padding: 10px;
  }
  .container .items-details .general-details .pagination-status .pagination ul li a {
    color: #0da8f0;
    margin: 0 10px;
  }
  .container .items-details .general-details .pagination-status .pagination ul li:hover {
    background-color: #dee2e6;
    cursor: pointer;
  }
  .container .items-details .general-details .pagination-status .pagination ul .page-span {
    color: #0da8f0;
    font-weight: 100;
  }
  .container .items-details .general-details .pagination-status .page-status {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 10px;
    color: #0da8f0;
    margin: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .container .items-details .table-article-details {
    border: 1px solid #dee2e6;
    -webkit-box-shadow: 2px 0px 10px 2px #dee2e6;
            box-shadow: 2px 0px 10px 2px #dee2e6;
    width: 500px;
    margin-left: 20px;
    text-align: center;
  }
  .container .items-details .table-article-details h1 {
    color: black;
    font-size: 25px;
    padding: 0;
  }
  .container .items-details .table-article-details img {
    width: 250px;
    height: 140px;
    -webkit-transition: .2s;
    transition: .2s;
    margin: 20px 0;
  }
  .container .items-details .table-article-details img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    cursor: pointer;
  }
  .container .items-details .table-article-details p {
    font-size: 20px;
  }
  .container .items-details .table-article-details div {
    display: block;
  }
  .container .items-details .table-article-details select {
    width: 150px;
    border: 2px solid #0da8f0;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .container .items-details .table-article-details select:focus {
    border-color: #0da8f0;
    -webkit-box-shadow: 0px 0px 4px 1px #0da8f0;
            box-shadow: 0px 0px 4px 1px #0da8f0;
  }
}
/*# sourceMappingURL=styles.css.map */